<!-- base for rpg -->
<!-- rpg/templates/rpg/base.html -->
{% load static %}

<html>
    <head>
        <title>rpg</title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!-- nav bar for the top of the page -->
        <nav>
            <ul>
                <li><a href="{% url 'gamehome' character.pk %}">home</a></li>
                <li><a href="{% url 'inventory' character.pk %}">inventory</a></li>
                <li><a href="{% url 'achievements' character.pk %}">achievements</a></li>
                <li><a href="">settings</a></li>
            </ul>
        </nav>

        {% block content %}

        {% endblock %}
    </body>
</html>