<!-- base for rpg -->
<!-- rpg/templates/rpg/base.html -->
{% load static %}

<html>
    <head>
        <title>rpg</title>
        <link rel="stylesheet" href="/static/rpg.css">
    </head>
    <body>
        <!-- parallax stars css divs -->
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>

        <!-- nav bar for the top of the page -->
        <nav>
            <ul>
                <li><a href="{% url 'gamehome' character.pk %}">home</a></li>
                <li><a href="{% url 'inventory' character.pk %}">inventory</a></li>
                <li><a href="{% url 'achievements' character.pk %}">achievements</a></li>
                <li><a href="{% url 'settings' character.pk %}">settings</a></li>
            </ul>
        </nav>

        {% block content %}

        {% endblock %}
    </body>
</html>