<html>
    <head>
        <title>create character</title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form method="POST">
            <!-- talk about CSRF -->
            {% csrf_token %}
            <!-- form to create a new character -->
            <div class="form">
                <!-- text input for character name -->
                <div>
                    <label for="first_name">character name: </label>
                    {{form.name}}
                </div>
                <!-- file input for character image -->
                <div>
                    <label for="id_image">image:</label>
                    <input type="file" name="file" multiple>
                </div>
            </div>
            <!-- submit button to send to the db (and fill in the other fields in form_valid) -->
            <button type="submit">create character!</button>
        </form>
    </body>
</html>