<!-- rpg/templates/rpg/enemy.html -->

<!-- extend the base we created -->
{% extends 'rpg/base.html' %}

{% block content %}

{% for message in messages %}
    <h3>**{{message}}**</h3>
{% endfor %}

<div class="battle-container">
    <div class="enemy-bar">
        <h3>{{enemy.name}} - {{battle.enemy_hp}}/{{enemy.hp}}</h3>
        <img src="{{enemy.img.url}}" alt="{{enemy.name}}">
    </div>
    
    <div class="character-bar-container">
        <div class="character-bar">
            <div class="name-img-hp">
                <h2>{{character.name}} - {{battle.player_hp}}/{{character.hp}}</h2>
                <img src="{{character.img.url}}" alt="{{character.name}}">
            </div>
            <div class="enemy-attack-button">
                <a href="{% url 'enemy_attack' character.pk enemy.pk %}"><h2>enemy's attack!</h2></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}