<!-- rpg/templates/rpg/game_selection.html -->

<!-- extend the base we created -->
{% extends 'rpg/base.html' %}

<!-- begin inventory list page content -->
{% block content %}

<div class="center-container">
    <h1>choose an enemy to fight!</h1>

    <div class="scrollable">
        {% for e in enemy %}
            <a href="{% url 'new_battle' character.pk e.pk %}">
                <div class="character-card">
                    <h2>{{e.name}}</h2>
                    <img src="{{e.img.url}}" alt="{{e.name}}">
                    <h3>{{e.difficulty}}</h3>
                    <h3>hp: {{e.hp}}</h3>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}