<!-- rpg/templates/rpg/login.html -->

<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" href="/static/rpg.css">
    </head>
    <body>
        <!-- parallax stars css divs -->
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>

        <div class="back-button">
            <a href="{% url 'menu' %}"><h3>back</h3></a>
        </div>
            <form method="POST" enctype="multipart/form-data">
                <!-- talk about CSRF -->
                {% csrf_token %}
                <div class="button-container-col">
                    {{form}}
                
                    <!-- login functionality -->
                    <button type="submit"><h2>login!</h2></button>
                    <!-- reroute coniditional -->
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{request.GET.next}}">
                    {% else %}
                        <input type="hidden" name="next" value="{% url 'new_options' %}">
                    {% endif %}
                </div>
            </form>
    </body>
</html>