<!-- rpg/templates/rpg/lose.html -->

<html>
    <head>
        <title>loser</title>
        <link rel="stylesheet" href="/static/rpg.css">
    </head>
    <body>
        <!-- parallax stars css divs -->
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>

        <div class="button-container-col">
            <h1>You lost the game!</h1>
            <div class="back-home-button">
                <a href="{% url 'gamehome' character.pk %}"><h2>back to home</h2></a>
            </div>
        </div>
    </body>
</html>