<!-- rpg/templates/rpg/menu.html -->
{% load static %}

<html>
    <head>
        <title>home</title>
        <link rel="stylesheet" href="/static/rpg.css">
    </head>
    <body>
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <!-- initial page featuring the title and play game -->
        <div class="button-container-col">
            <!-- title -->
            <div class="main-title">
                <h1>SLAY!</h1>
            </div>
            <!-- redirect to more menu options -->
            <div class="menu-button">
                <a href="{% url 'menu' %}">
                    <h2>play game</h2>
                </a>
            </div>
        </div>
    </body>
</html>