<!-- rpg/templates/rpg/update.html -->
{% extends 'rpg/base.html' %}

{% block content %}

<div class="center-container">
    <h1>update {{character.name}}'s info!</h1>

    <form method="POST">
        <!-- talk about CSRF -->
        {% csrf_token %}
        <div class="button-container-col">
            <div class="form">    
                <div>
                    <label for="name">name: </label>
                    {{form.name}}
                </div>
            
                <div>
                    <label for="img">img: </label>
                    {{form.img}}
                </div>
            </div>
        
            <button type="submit"><h2>update!</h2></button>
        </div>
    </form>
</div>
{% endblock %}