{% load static %}

<html>
    <head>
        <title>blog</title>
        <link rel="stylesheet" href="/static/styles-blog.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'show_all_articles' %}">show all</a></li>
                <li><a href="{% url 'random' %}">random</a></li>
                <li><a href="{% url 'create_article' %}">create new article</a></li>
            </ul>
        </nav>
        {% block content %}

        {% endblock %}
    </body>
</html>