<!-- base for all mini_fb html -->
{% load static %}

<html>
    <head>
        <title>mini fb</title>
        <link rel="stylesheet" href="/static/minifbstyles.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'show_all' %}">all profiles</a></li>
                <!-- logout button shows when logged in -->
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">logout</a></li>
                <!-- this urls should show when not logged in -->
                {% else %}
                    <li><a href="{% url 'create_profile' %}">create a new profile!</a></li>
                    <li><a href="{% url 'login' %}">login</a></li>
                {% endif %}
            </ul>
        </nav>

        <p>
            <!-- display user that is logged in and link to profile -->
            {% if request.user.is_authenticated %}
                {{request.user}} is logged in <br>
                
            <!-- not logged in text -->
            {% else %}
                not logged in
            {% endif %}
        </p>

        {% block content %}

        {% endblock %}
    </body>
</html>