<!-- base for all mini_fb html -->
{% load static %}

<html>
    <head>
        <title>mini fb</title>
        <link rel="stylesheet" href="/static/minifbstyles.css">
    </head>
    <body>
        <!-- <div class="nav-container">
            <div class="button-profile">
                <h3><a href="{% url 'create_profile' %}">create a new profile!</a></h3>
            </div>
            <div class="button-all">
                <h3><a href="{% url 'show_all' %}">all profiles</a></h3>
            </div>
        </div> -->
        <nav>
            <ul>
                <li><a href="{% url 'show_all' %}">all profiles</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'create_profile' %}">create a new profile!</a></li>
                    <li><a href="{% url 'logout' %}">logout</a></li>
                <!-- this url should show when not logged in -->
                {% else %}
                        <li><a href="{% url 'login' %}">login</a></li>
                {% endif %}
            </ul>
        </nav>

        <p>
            {% if request.user.is_authenticated %}
                {{request.user}} is logged in
                your profile: <a href="{% url 'show_profile' user.profile.pk %}">click here!</a>
            {% else %}
                not logged in
            {% endif %}
        </p>

        {% block content %}

        {% endblock %}
    </body>
</html>