<!-- mini_fb/templates/mini_fb/friend_suggestions.html -->
{% extends 'mini_fb/base.html' %}

<!-- where content block begins from base.html -->
{% block content %}

<h1>people {{profile.first_name}} may know: </h1>

{% if profile.get_friend_suggestions %}
    {% for suggestion in profile.get_friend_suggestions %}
        <profile>
            <img src="{{suggestion.profile_pic}}" alt="{{suggestion.profile_pic}}">
            <h2>{{suggestion.first_name}} {{suggestion.last_name}}</h2>
            <a href="{% url 'add_friend' suggestion.pk %}"><h3>add friend</h3></a>
        </profile>
    {% endfor %}
{% else %}
    <h1>no suggestions</h1>
{% endif %}

{% endblock %}