<!-- mini_fb/templates/mini_fb/show_profile.html -->
{% extends 'mini_fb/base.html' %}

<!-- where content block begins from base.html -->
{% block content %}
<!-- <div class="button-back">
    <h3><a href="{% url 'show_all' %}">back</a></h3>
</div> -->
<main class="grid-container">
    <profile class="individual">
        <img src="{{profile.profile_pic}}" alt="{{profile.profile_pic}}">
        
        <div>

            <h1>{{profile.first_name}} {{profile.last_name}}</h1>
            <p>city: {{profile.city}}</p>
            <p>email: {{profile.email}}</p><br>

            <!-- hide profile options if not logged into the user linked to that profile -->
            {% if request.user.is_authenticated and profile.user == user %}
                <h3><a href="{% url 'update_profile' %}">update profile</a></h3>
                <h3><a href="{% url 'create_status' %}">create a status message</a></h3>
                <h3><a href="{% url 'friend_suggestions' %}">friend suggestions</a></h3>
                <h3><a href="{% url 'news_feed' %}">news feed</a></h3>
            {% else %}
                <p></p>
            {% endif %}

        </div>

        <!-- status messages -->
        <div class="stat-friends-container">
            <div class="status">
                <h2>status messages:</h2>
                <!-- {{article.get_comments}} -->
                {% if profile.get_status_messages %}
                    {% for s in profile.get_status_messages %}
                    <div>
                        <h3>{{s.timestamp}}: {{s.message}}</h3>
                        {% if s.get_images %}
                            {% for i in s.get_images %}
                                <img src='{{i.image.url}}' alt='{{i.image.url}}'>
                            {% endfor %}
                        {% endif %}
                        <div class="status-options">
                            <!-- only allow update and delete options if logged into the user linked to that profile -->
                            {% if request.user.is_authenticated and profile.user == user %}
                                <p><a href="{% url 'update_status' s.pk %}">update</a></p>
                                <p><a href="{% url 'delete_status' s.pk %}">delete</a></p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <h3>none</h3>
                {% endif %}
            </div>
        </div>
        <div class="status">
            {% if profile.get_friends %}
                <h2>{{profile.first_name}}'s friends:</h2>
                {% for friend in profile.get_friends %}
                    <div class="friend">
                        <a href="{% url 'show_profile' friend.pk %}"><img src="{{friend.profile_pic}}" alt="{{friend.profile_pic}}">
                        <h3>{{friend.first_name}} {{friend.last_name}}</h3></a>
                    </div>
                {% endfor %}            
            {% endif %}
        </div>
    </profile>
</main>
{% endblock %}