/* font imports */
@font-face {
    font-family: Neue-Machina;
    src: url(fonts/PPNeueMachina-InktrapRegularItalic.otf);
}
@font-face {
    font-family: Neue-Machina-Bold;
    src: url(fonts/PPNeueMachina-InktrapUltraboldItalic.otf);
}
/* styling */
body {
    margin: 30px;
    background: #CC444B;
    font-family:'Neue-Machina';
}
h1 {
    color: #E4B1AB;
    font-family: 'Neue-Machina-Bold';
    text-align: center;
}
.status-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.delete img {
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}
.head {
    text-align: center;
    padding: 5px;
}
h2, h3 {
    color: #E4B1AB;
    text-align: center;
}
p {
    color: #E39695;
    text-align: center;
}
.form {
    background: #DA5552;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
}
button {
    background-color: #DA5552;
    border-radius: 8px;
    color: #E4B1AB;
    padding: 10px;
    display: block;
    margin: auto;
    border: none;
    font-family: 'Neue-Machina';
    font-size: 28px;
}
label {
    color: #E4B1AB;
    text-align: center;
    justify-content: center;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button {
    background-color: #DA5552;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    display: block;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-size: 20px;
    font-family: 'Neue-Machina';
    background-color: #DA5552;
    border-radius: 5px;
    padding: 10px;
}
a:link {
    color: #E4B1AB;
}
a:visited{
    color: #E4B1AB;
}
a .status {
    background-color: #CC444B;
}
a {
    text-decoration: none;
    display: grid;
    color: #E4B1AB;
}
.grid-container {
    /* background: #DA5552; */
    border-radius: 8px;
    max-width: 900px;
    display: grid;
    /* grid-template-columns: 300px 300px 300px; */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 1200px;
    margin: 20px auto;
}
.status {
    display: grid;
    background: #CC444B;
    border-radius: 8px;
}
profile {
    background: #DA5552;
    border-radius: 8px;
}
profile.featured {
    grid-column: span 3;
    display: grid; /* nested grid */
    gap: 60px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px #DA5552;
    padding-bottom: 40px;
}
profile.individual {
    grid-column: span 3;
    display: grid; /* nested grid */
    gap: 60px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px #DA5552;
    padding: 20px;
}
profile img, profile.featured img {
    width: 100%;
    border-radius: 8px;
}
profile p, profile h3 {
    margin: 20px 10px;

}
/* responsive styles: adapt to smaller screen sizes */
@media screen and (max-width: 980px) {

    profile, profile.featured {    
        background: #DA5552;
        border-radius: 8px;
        grid-column: span 3;
        display: grid; /* nested grid */
        grid-template-columns: 1fr 1fr;
        margin-bottom: 30px;
        align-items: center;
    }
}

@media screen and (max-width: 760px) {

    profile, profile.featured {
        background: #DA5552;
        border-radius: 8px;
        display: block; 
        margin: 0px 20px;
    }
}
