<html>
    <head>
        <title>all</title>
        <link rel="stylesheet" href="/static/quotestyles.css">
    </head>
    <body>
        <nav class="all">
            <ul>
                <li><a href="{% url 'quote' %}">quotes</a></li>
                <!-- <li><a href="{% url 'show_all' %}">all</a></li> -->
                <li><a href="{% url 'about' %}">about</a></li>
            </ul>
        </nav>

        <h1>all quotes and images</h1>

        <div class="img-container">
            <img src={{image1}} alt="">
            <img src={{image2}} alt="">
            <img src={{image3}} alt="">
        </div>

        <div class="quote-container">
            <p>"{{quote1}}"</p>
            <p>"{{quote2}}"</p>
            <p>"{{quote3}}"</p>
        </div>

        <p>brought to you by kenna wylie.</p>
    </body>
</html>